<div class="photo-card">
  <a href="${largeImageURL}"
    ><img src="./images/logo.png" alt="" width="300px" loading="lazy"
  /></a>
  <div class="info">
    <p class="info-item">
      <ion-icon name="heart-outline" class="info-icon"></ion-icon>
      ${likes}
    </p>
    <p class="info-item">
      <ion-icon name="eye-outline" class="info-icon"></ion-icon>
      ${views}
    </p>
    <p class="info-item">
      <ion-icon name="chatbox-ellipses-outline" class="info-icon"></ion-icon>
      ${comments}
    </p>
    <p class="info-item">
      <ion-icon name="arrow-down-circle-outline" class="info-icon"></ion-icon>
      ${downloads}
    </p>
  </div>
</div>